html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #233237;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #233237;
}

#horizontal-menu {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
  background-color: #18121e;
}

#menu-title {
  color: white;
  margin-left: 10px;
}
